:root {
  --primary: #60d193a6;
  --secondary: #bcc3daa8;
}

body {
  font-family: "Poppins";
  font-weight: bold;
  background: var(--secondary);
}

.nav-link.active {
  background-color: white;
  border-radius: 880%;
  width: fit-content;
}
